<div>
  <a href="{{ product.url }}">{{ product.title }}</a>

  {% form 'product', product %}
    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
    <button type="submit" name="add">Add to cart</button>
  {% endform %}
</div>
