/* --------------- Site Header --------------- */

.site-header {
  a {
    text-decoration: none;
  }
}

.site-header-elements {
  display: flex;
  align-items: center;
}

.site-logo {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

/* --------------- Site Nav --------------- */

.site-nav {
  ul {
    display: flex;
    list-style: none;
    column-gap: 10px;
  }
}

.site-header-links {
  margin-left: auto;
}