<div>
  <div class="container">
    <h2>
      {{ collection.title }}
    </h2>
    <div>
      {%- paginate collection.products by 12 -%}
        <div class="grid-3 space">
          {% for product in collection.products %}
            {% render 'product', product: product %}
          {% endfor %}
        </div>
        {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main Collection Section",
  "class": "section-main-collection",
  "tag": "section"
}
{% endschema %}
