<div class="container">
  <h1>Templates</h1>
  <ul>
    <li><a href="/dog">404</a></li>
    <li><a href="/blogs/news">Blog</a></li>
    <li><a href="/collections/all">Collection</a></li>
  </ul>
</div>
